# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Scikit-learn
2. NumPy
3. Matplotlib
4. Pandas

| Data Science Tools |
|----------|
|   Spyder | 
|   RStudio  |  
|  Jupyter Notebooks  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print("200 minutes is ", round(hours,2), "hours")

200 minutes is  3.33 hours

# Objectives

### Items Covered in This Notebook

- List popular languages for Data Science
- Commonly used libraries by Data Scientists
- How to create a table using Markdown in Jupyter Notebooks
- Examples of evaluating arithmetic expressions in Python
- Three open source development environment tools used in data science

## Author

Alexis Jock Camac Alcal√°